node_red_config/v004__cloud_first_fetch_api_device.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "afbf319599fa3c65",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "9c3d97e3.e3c05",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "2df2426c.9b9ac2"
            ]
        ]
    },
    {
        "id": "2df2426c.9b9ac2",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://localhost:6443/apis/devices.kubeedge.io/v1alpha2/devices",
        "tls": "afbf319599fa3c65",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IkJJajhSMXFLRGQ0bWFWS1ZfeUh0ZUlkZlJPTnlHclZjUVhTQnJzcFlLWGMifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJkZWZhdWx0Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZWNyZXQubmFtZSI6Im15LXNlcnZpY2UtYWNjb3VudC10b2tlbi04c3hrbCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJteS1zZXJ2aWNlLWFjY291bnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiIxYzQ4ZWYwYi01YjllLTRhY2EtYWJhMS03ZWIyYmI2NjcwMGEiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6ZGVmYXVsdDpteS1zZXJ2aWNlLWFjY291bnQifQ.ijKwHyGjbwf0bireJ_EA7vmm-zx8k7ZnCKaoj_H5WGcVZXaTC1sry2bQlae4KZfQglGrkcsFUCwPNPLNBn8-jzRynlaKK9d659hFZl3x-3qCYWmOOXyEhgQgFWRQDoFANP0yCZKiSQ7ylNIDYrMshLm4STf9kTrKpWJybDNTJXs7mk6kZVD-wwfbNFPTBD7wVyii3TBImw9JAvYY1Dm7SjczGNFDSm_n_tmaxDMOXNdszwnq3ibbONVUNM-tjb6m03MEXykzWQCJ2ZRGpZWURZv7uUvV8244K0Xgpc_RupjWgg9Ed-Oh7E2Uy87tg2Enhj-nt9dmWCwr4ESAz5vV0w"
            }
        ],
        "x": 270,
        "y": 180,
        "wires": [
            [
                "e9f1fb07.8ab29",
                "fac77f73ba94774f"
            ]
        ]
    },
    {
        "id": "e9f1fb07.8ab29",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "fac77f73ba94774f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 280,
        "wires": []
    }
]