node_red/nodeRED_configs/v001__nodered_config.json
[
    {
        "id": "565732f11dc07263",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0f98eee826349a7",
        "type": "mqtt out",
        "z": "565732f11dc07263",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "fbf99f2f1f5e5963",
        "type": "function",
        "z": "565732f11dc07263",
        "name": "MAPPER X -> MQTT",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "c0f98eee826349a7"
            ]
        ]
    },
    {
        "id": "e4502ea122abebd6",
        "type": "inject",
        "z": "565732f11dc07263",
        "name": "MOCK DATA GENERATOR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "fbf99f2f1f5e5963"
            ]
        ]
    },
    {
        "id": "6f93253ec24c75aa",
        "type": "mqtt in",
        "z": "565732f11dc07263",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "7304cdcc3e8314e9",
                "e3b97f3e7b87932d"
            ]
        ]
    },
    {
        "id": "7304cdcc3e8314e9",
        "type": "function",
        "z": "565732f11dc07263",
        "name": "MAPPER MQTT -> X",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 400,
        "wires": [
            [
                "43bc1234bfa03562"
            ]
        ]
    },
    {
        "id": "43bc1234bfa03562",
        "type": "debug",
        "z": "565732f11dc07263",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 400,
        "wires": []
    },
    {
        "id": "e3b97f3e7b87932d",
        "type": "mqtt out",
        "z": "565732f11dc07263",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "6a1e0240e3d17809",
        "type": "comment",
        "z": "565732f11dc07263",
        "name": "generated sample data for demo model",
        "info": "",
        "x": 210,
        "y": 160,
        "wires": []
    },
    {
        "id": "76b7a1df3602e3e3",
        "type": "comment",
        "z": "565732f11dc07263",
        "name": "sends mqtt message to broker for demo model",
        "info": "",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "3de970cc8f39712b",
        "type": "comment",
        "z": "565732f11dc07263",
        "name": "sends mqtt message from broker created by demo model",
        "info": "",
        "x": 210,
        "y": 340,
        "wires": []
    }
]